<!DOCTYPE HTML>
<html>

<head>
    <title>simplestyle_banner - contact us</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo">
                <span id="logo_text">
                  <!-- class="logo_colour", allows you to change the colour of the text -->
                  <h1><a href="index.html">Furnish and Decorate<br><span class="logo_colour">Pundit Furniture</span></a></h1>
                </span>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="#">A Page</a></li>
                <li><a href="meet.html">Meet the Team</a></li>
                <li class="selected"><a href="contact.html">Contact Us</a></li>
                <li class="selected"><a href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="center"></div>
        <div id="content center">
            <!-- insert the page content here -->

            <div class="center">
                <h1 class="center">Our Expert Team</h1>
                <h2>Pundits in the Teams brings Om Shanti Om to Ctrl C + Ctrl V</h2>

            </div>
            <div class="center">
                <img src="https://storage.cloud.google.com/team-member-pics/t-1.jpg"
                     height="400" width="400">
                <div class="team-content mt-30">
                    <h4 class="title mb-10"><a href="#">Ankit Gupta</a></h4>
                    <span>Co Founder & Technology Architect</span>
                </div>
            </div>
            <div class="center">
                <img src="https://storage.cloud.google.com/team-member-pics/t-2.jpg"
                     height="400" width="400">
                <div class="team-content mt-30">
                    <h4 class="title mb-10"><a href="#">Samer Eid Dauod</a></h4>
                    <span>Co Founder & R & D Head</span>
                </div>
            </div>
            <div class="center">
                <img src="https://storage.cloud.google.com/team-member-pics/t-3.jpg"
                     height="400" width="400">
                <div class="team-content mt-30">
                    <h4 class="title mb-10"><a href="#">Riju Francis</a></h4>
                    <span>Co Founder & Chief Technology Officer</span>
                </div>
            </div>
            <div class="center">
                <img src="https://storage.cloud.google.com/team-member-pics/t-4.jpg"
                     height="400" width="400">
                <div class="team-content mt-30">
                    <h4 class="title mb-10"><a href="#">Gauraw Kumar Gupta</a></h4>
                    <span>Co Founder & Operations Head</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>